body {
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.logo {
  font-size: 24px;
  font-weight: bold;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.main-content {
  display: flex;
  flex-grow: 1;
}


.toggle-icon {
  font-size: 14px;
  transition: transform 0.3s ease-in-out;
  color: #fff;
}

.toggle-icon.open {
  transform: rotate(90deg);
}

.data-entry-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 20px;
}

.data-entry-list li {
  padding: 5px 0;
  font-size: 14px;
}

.page-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #1e1e1e;
}

.container {
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  color: #ffffff;
}

a {
  color: #61dafb;
}

button {
  background-color: #282c34;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3a3f4b;
}